<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>注册|For优</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="__PUBLIC__/css/commonstyle.css" rel="stylesheet" />
		<link href="__PUBLIC__/css/style.css" rel="stylesheet"/>	

		<style>
			body {
				background-color: rgba(248,248,248,.9);
			}
		</style>
	</head>
	<body>
		<include file='App/Home/View/Common/commonhead.html'/>

		<div id="register-logo" class="wrapper clearfix">
			<img src="__PUBLIC__/img/logo.png"/>
			<span>欢迎注册</span>
		</div>
		<div id="register-main">
			<div id="register-info" class="fl">
				<form id="demoForm" action="__URL__/toRegister" method="post">
					<div class="user-info-div">
						<span class="userinfo-before">用户昵称:</span>
						<div class="fl">
							<input type="text" name="nickname" />
							<span class="glyphicon glyphicon-user userinfo-logo"> </span>
						</div>
						<span class="userinfo-behind"> </span>
					</div>
					<div class="user-info-div">
						<span class="userinfo-before">设置密码:</span>
						<div class="fl">
							<input type="password" name="password" />
							<span class="glyphicon glyphicon-lock userinfo-logo"> </span>
						</div>
						<span class="userinfo-behind">	8-20位字符，建议由数字，字母和符号两种以上组合。 </span>
					</div>
					<div class="user-info-div">
						<span class="userinfo-before">确认密码:</span>
						<div class="fl">
							<input type="password" name="confirm-password" />
							<span class="glyphicon glyphicon-lock userinfo-logo"> </span>
						</div>
						<span class="userinfo-behind">请再次输入密码 </span>
					</div>
					<div class="user-info-div">
						<span class="userinfo-before">手机号码:</span>
						<div class="fl">
							<input type="text" name="phone" />
							<span class="glyphicon glyphicon-phone userinfo-logo"> </span>
						</div>
						<span class="userinfo-behind" name="message"> 请输入中国大陆手机号，可用于登陆和找回密码</span>
					</div>
					<!-- <div id="security-code">
						<span class="userinfo-before">邮箱验证:</span>
						<input type="text" name="security-code" />
						<span class="userinfo-behind"> </span>
						<span id="security-code-img"> </span>
						<button>获取短信验证码</button>
					</div> -->
					<div class="user-info-div">
						<span class="userinfo-before">验证邮箱:</span>
						<div class="fl">
							<input type="text" name="mail" />
							<span class="glyphicon glyphicon-envelope userinfo-logo"> </span>
						</div>
						<span class="userinfo-behind" name="mail_message"> 请输入您的常用邮箱</span>
					</div>
					<div id="user-protocol">
						<span class="userinfo-before"> </span>
						<input id="user-protocol-input" type="checkbox" name="user-protocol" />
						<span >我已阅读并同意<a>《ForU用户注册协议》</a> </span>
					</div>
					<div>
						<span class="userinfo-before"> </span>
						<input id="button-register" type="submit" name="submit" value="立即注册" />
					</div>
				</form>
			</div>
			<div class="fl">
				<span><a href="login.html">已有账号，返回登录>></a></span>
			</div>
		</div>

		<script type="text/javascript" src="__PUBLIC__/script/plugins/jquery-1.11.2.js"></script>
		<script type="text/javascript" src="__PUBLIC__/script/plugins/jquery.validate.js"></script>
		<script type="text/javascript" src="__PUBLIC__/script/register.js"></script>
		<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>

	</body>
</html>