<div class="w bground-special">
	<div id="nav-bar" class="wrapper nav-wrapper">
	    <if condition="$categoryHidden neq 1">
			<div class="fl">
			   商品分类
		    </div>
	    </if>
		
		<ul class="nav nav-pills">
			<li>
				<a href="{:U('/Home/Index')}">首页</a>
			</li>
			<li>
				<a href="{:U('/Home/index/goodslist',array('categoryId'=>$module[4]['category_id'],'campusId'=>$module[4]['campus_id']))}">小优推荐</a>
			</li>
			<li>
				<a href="{:U('/Home/index/goodslist',array('categoryId'=>$module[5]['category_id'],'campusId'=>$module[5]['campus_id']))}">最新体验</a>
			</li>
			<li>
				<a href="{:U('/Home/index/goodslist',array('categoryId'=>$module[6]['category_id'],'campusId'=>$module[6]['campus_id']))}">特惠秒杀</a>
			</li>
			<li>
				<a href="{:U('Person/personHomePage',array('campusId'=>$campusId))}">个人中心</a>
			</li>

			<if condition="$hiddenLocation neq 1">

				<if condition="($campusId eq null) OR (cookie('campusId') eq undefined)">
					<li>
					  	<foreach name="campusList" item="vo">
					   	   <if condition="$vo.campus_id eq 1">
					   	   		<img src="__PUBLIC__/img/icon/location.png" alt="">
					   	   		<span id="location" >
					   	   		  	{$vo.campus_name}
					   	   		</span>
					   	   </if>
					   </foreach>		
					</li>
					<else/>

					<li>
					   <foreach name="campusList" item="vo">
					   	   <if condition="$vo.campus_id eq $campusId">
					   	   		<img src="__PUBLIC__/img/icon/location.png" alt="">
					   	   		<span id="location" >
					   	   		  	{$vo.campus_name}
					   	   		</span>
					   	   </if>
					   </foreach>
					</li>
				</if>

				<else/><li></li>
			</if>
		</ul>
	</div>
</div>