<div class="public-top-layout" style="background-color: #fff">
	<div class="topbar">
		<div class="user-entry"></div>
		<div class="fr">
			<a class="text-special" href="">手机For优</a>
		</div>
		
		<empty name="Think.session.username">
			<div class="quick-menu">
				欢迎光临<span class="text-special">ForU</span>校园超市，请 <a class="text-special" href="{:U('Login/index')}">登录</a><a class="text-special" href="{:U('Login/register')}">注册</a>
				<span> </span>
			</div>
			<else /> 
			<div class="quick-menu">
				尊敬的 &nbsp; <a href="{:U('Person/personHomePage',array('campusId'=>cookie('campusId')))}">{$Think.session.nickname}</a> &nbsp;您好,欢迎来到 For优校园超市<a href="{:U('Index/logout')}" id="log-out">退出</a> <span class="spliter text-special"></span>
			</div>
		</empty> 
	</div>
</div>