<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="__PUBLIC__/css/commonstyle.css" rel="stylesheet" />
		<link href="__PUBLIC__/css/style.css" rel="stylesheet"/>
		<script type="text/javascript" src="__PUBLIC__/script/plugins/jquery-1.11.2.js"></script>
		<script type="text/javascript" src="__PUBLIC__/script/plugins/jquery.cookie.js"></script>
		<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
		<title>For优 首页</title>
		<style>
			body {
				background-color: rgb(249,249,249);
			}
		</style>
	</head>
	<body data-spy="scroll" data-target="#nav-side">
		<include file='App/Home/View/Common/commonhead.html'/>

		<div id="index-header" >

			<include file='App/Home/View/Common/commonsearch.html'/>

			<include file='App/Home/View/Common/commonnav.html'/>
			
			<div id="list-slide" class="wrapper clearfix">
				<div class="side-nav">
					<ul class="primary_nav_list">
						<foreach name="category" item="vo">
							<li class="primary_nav_li">
								<a href="{:U('/Home/Index/goodslist',array('categoryId'=>$vo['category_id'],'campusId'=>$vo['campus_id']))}">{$vo.category}</a>
							</li>				
						</foreach>
						
					</ul>
				</div>
				<div id="slide-wrapper" class="carousel slide">
					<!-- 轮播（Carousel）指标 -->
					<ol class="carousel-indicators">
						<foreach name="main_image" item="v">
							<li data-target="#slide-wrapper" data-slide-to="{$key}" <?php if(key==0) echo 'class="active"';?>></li>
						</foreach>
					</ol>
					<!-- 轮播（Carousel）项目 -->
					<div class="carousel-inner">
						<foreach name="main_image" item="v">
					        <if condition="$key eq 0">
						        <div class="item active">
						    <else/><div class="item">
						    </if>
							<img src="{$v.img_url}" alt="{$key} slide">
							</div>
						</foreach>
					</div>
					<!-- 轮播（Carousel）导航 -->
					<a class="carousel-control left" href="#slide-wrapper"data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"> </span> <span class="sr-only">Previous</span> </a>
					<a class="carousel-control right" href="#slide-wrapper"data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span> <span class="sr-only">Previous</span> </a>
				</div>
			</div>
		</div>
			
		<div id="index-body" class="clearfix" data-campusId="{$campusId}">
			<div id="nav-side" class="fl">
				<ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="800">
				<foreach name="homeGood" item="vo">
				     <if condition="$key eq 0">
				        <li class="active">
				     <else/><li>
				     </if>
				     <a href="#class-{$key+1}-top">{$key+1}F</a></li>
				</foreach>
				</ul>
			</div>
			<div class="wrapper">
				<div id="medium-part" class="clearfix">
					<div>
						<dl>
							<dt><a href="{:U('/Home/index/goodslist',array('categoryId'=>$module[4]['category_id'],'campusId'=>$module[4]['campus_id']))}"><img src="__PUBLIC__/img/medium1.png" alt=""></a></dt>
							<dd><a href="{:U('/Home/index/goodslist',array('categoryId'=>$module[4]['category_id'],'campusId'=>$module[4]['campus_id']))}">小优推荐</a></dd>
						</dl>
					</div>
					<div>
						<dl>
							<dt><a href="{:U('/Home/index/goodslist',array('categoryId'=>$module[5]['category_id'],'campusId'=>$module[5]['campus_id']))}"><img src="__PUBLIC__/img/medium2.png" alt=""></a></dt>
							<dd><a href="{:U('/Home/index/goodslist',array('categoryId'=>$module[5]['category_id'],'campusId'=>$module[5]['campus_id']))}">最新体验</a></dd>
						</dl>
					</div>
					<div>
						<dl>
							<dt><a href="{:U('/Home/index/goodslist',array('categoryId'=>$module[6]['category_id'],'campusId'=>$module[6]['campus_id']))}"><img src="__PUBLIC__/img/medium3.png" alt=""></a></dt>
							<dd><a href="{:U('/Home/index/goodslist',array('categoryId'=>$module[6]['category_id'],'campusId'=>$module[6]['campus_id']))}">特惠秒杀</a></dd>
						</dl>
					</div>
					<div>
						<dl>
							<dt><a href="{:U('/Home/index/goodslist',array('categoryId'=>$module[0]['category_id'],'campusId'=>$module[0]['campus_id']))}"><img src="__PUBLIC__/img/medium4.png" alt=""></a></dt>
							<dd><a href="{:U('/Home/index/goodslist',array('categoryId'=>$module[0]['category_id'],'campusId'=>$module[0]['campus_id']))}">早餐上门</a></dd>
						</dl>
					</div>
					<div>
						<dl>
							<dt><a href="{:U('/Home/index/goodslist',array('categoryId'=>$module[1]['category_id'],'campusId'=>$module[1]['campus_id']))}"><img src="__PUBLIC__/img/medium5.png" alt=""></a></dt>
							<dd><a href="{:U('/Home/index/goodslist',array('categoryId'=>$module[1]['category_id'],'campusId'=>$module[1]['campus_id']))}">家政服务</a></dd>
						</dl>
					</div>
					<div>
						<dl>
							<dt><a href="{:U('/Home/index/goodslist',array('categoryId'=>$module[2]['category_id'],'campusId'=>$module[2]['campus_id']))}"><img src="__PUBLIC__/img/medium6.png" alt=""></a></dt>
							<dd><a href="{:U('/Home/index/goodslist',array('categoryId'=>$module[2]['category_id'],'campusId'=>$module[2]['campus_id']))}">水果上门</a></dd>
						</dl>
					</div>
					<div>
						<dl>
							<dt><a href="{:U('/Home/index/goodslist',array('categoryId'=>$module[3]['category_id'],'campusId'=>$module[3]['campus_id']))}"><img src="__PUBLIC__/img/medium7.png" alt=""></a></dt>
							<dd><a href="{:U('/Home/index/goodslist',array('categoryId'=>$module[3]['category_id'],'campusId'=>$module[3]['campus_id']))}">快递代取</a></dd>
						</dl>
					</div>
					<div>
						<dl>
							<dt><a href="{:U('/Home/index/goodslist',array('categoryId'=>$module[7]['category_id'],'campusId'=>$module[7]['campus_id']))}"><img src="__PUBLIC__/img/medium8.png" alt=""></a></dt>
							<dd>更多</dd>
						</dl>
					</div>
				</div>

				<foreach name="homeGood" item="cate">
					<div id="class-{$key+1}-top" class="class-n-top w clearfix fr">
						<span class="spliter fl"></span>
						<span class="class-n-f fl">{$key+1}F</span>
						<span class="class-header fl">{$cate.category}</span>
						<span class="fr"><a href="{:U('/Home/Index/goodslist',array('categoryId'=>$cate['category_id'],'campusId'=>cookie('campusId')))}">更多&gt;&gt;</a></span>
				    </div>
				    <div id="class-{$key+1}" class="class-n">
				    	<div class="goods-row">
							<foreach name="goodlist[$key]" item="good">
								<div class="goods-show">
									<dl>
										<dd>
											<a href="{:U('/Home/Index/goodsInfo',array('goodId'=>$good['food_id'],'campusId'=>$good['campus_id']))}"><img src="{$good.img_url}"/></a>
										</dd>
										<dt>
											<div class="goods-info ">
												<div class="goods-price clearfix">
												   <if condition="$good.is_discount eq 1">
												   		<span class="present-price">￥{$good.discount_price|number_format=###,1}</span>
													    <span class="before-price">原价：{$good.price|number_format=###,1}元</span>
												   <else/><span class="present-price">￥{$good.price|number_format=###,1}</span>
												   </if>
													
													<!-- <span class="googs-volume">销量(1306)</span> -->
												</div>
												<div  class="goods-name">
													<a href="{:U('/Home/Index/goodsInfo',array('goodId'=>$good['food_id'],'campusId'=>$good['campus_id']))}">{$good.name}</a>
												</div>
										    </div>
										</dt>
									</dl>
							   </div>
							</foreach>
						</div>
					</div>
				  </foreach>
				</div>
			</div>		
			
		<include file='App/Home/View/Common/commontail.html'/>
		<include file='App/Home/View/Common/commonlocation.html'/>

        <script type="text/javascript">
            var $campusId=$("#index-body").attr('data-campusId');
        </script>
		<script type="text/javascript" src="__PUBLIC__/script/index.js"></script>
		<script type="text/javascript" src="__PUBLIC__/script/common.js"></script>
		
	</body>
</html>
