<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="__PUBLIC__/css/commonstyle.css" rel="stylesheet" />
		<link href="__PUBLIC__/css/style.css" rel="stylesheet"/>

		<title>我的For优</title>
	</head>
	<body>
		<include file='App/Home/View/Common/commonhead.html'/>

		<div id="index-header" data-campusId="{$campusId}">
			<include file='App/Home/View/Common/commonsearch.html'/>
			<include file='App/Home/View/Common/commonnav.html'/>

			<div id="nav-breadcrumb" class="wrapper">
				<ul class="breadcrumb">
					<li><a href="{:U('Index/index',array('campusId'=>$campusId))}">首页</a></li>
					<li class="active"><a href="{:U('/Home/Person/personHomePage',array('campusId'=>cookie('campusId')))}">我的For优</a></li>
				</ul>
			</div>
		</div>
		<div class="wrapper clearfix" >
			<div id="person-nav-side">
				<ul>
					<span>我的订单</span>
					<li><a href="{:U('Person/orderManage',array('campusId'=>$campusId,'status'=>0))}">全部</a></li>
					<li><a href="{:U('Person/orderManage',array('campusId'=>$campusId,'status'=>1))}">待付款</a></li>
					<li><a href="{:U('Person/orderManage',array('campusId'=>$campusId,'status'=>2))}">待确认</a></li>
					<li><a href="{:U('Person/orderManage',array('campusId'=>$campusId,'status'=>3))}">配送中</a></li>
					<li><a href="{:U('Person/orderManage',array('campusId'=>$campusId,'status'=>4))}">待评价</a></li>
					<li><a href="{:U('Person/orderManage',array('campusId'=>$campusId,'status'=>5))}">已完成</a></li>
				</ul>
				<ul>
					<span>资料管理</span>
					<li><a href="{:U('Person/personInfo',array('campusId'=>$campusId))}">个人信息</a></li>
					<li><a href="{:U('Person/locaManage',array('campusId'=>$campusId))}">地址管理</a></li>
					<li><a href="{:U('Person/resetpword',array('campusId'=>$campusId))}">账户安全</a></li>
				</ul>
				<ul>
					<span>服务中心</span>
					<li><a>联系客服</a></li>
					<li><a>关于我们</a></li>
					<li><a>意见反馈</a></li>
				</ul>
			</div>
			<div id="person-info-body">
				<span>尊敬的</span><span>{$data['nickname']}</span>，<span>您好！欢迎来到For优</span>
				<div id="personhome-info" class="clearfix">
					<img class="fl" src="{$data['img_url']|default='/Public/img/user-img.png'}" alt="">
					<div class="fl">
						<span>{$data['nickname']}</span><p>
						性别:&nbsp;<span>
						<?php
							if ($data['sex'] != 0)
							{
								echo "女";
							}
							else
							{
								echo "男";
							}
						?></span><p>
						手机号:&nbsp;<span>{$data['phone']}</span><p>
						QQ号:&nbsp;<span>{$data['qq']}</span><p>
						收货地址:&nbsp;<span>{$defaultAddress}</span>
					</div>		
				</div>
				<div class="info-title">
						近期订单
						<span class="fr"><a href="{:U('Person/orderManage',array('campusId'=>$campusId,'status'=>0))}">查看所有订单</a></span>
				</div>
				<div class="personhome-order-info">
					<table>
						<colgroup>
							<col width="450">
							<col width="150">
							<col width="160">
							<col width="140">
						</colgroup>
						<thead>
							<tr>
								<th>订单商品</th>
								<th>订单状态</th>
								<th>数量</th>
								<th>总金额</th>
							</tr>
						</thead>
						<tbody>				
							<tr class="order-info-head">
								<td colspan="2">
									订单编号：<span>{$orderInfo['together_id']}</span>
									提交时间：<span>{$orderInfo['together_date']}</span>	
								</td>
								<td colspan="2">
									
								</td>	
							</tr>
							<foreach name="lastOrder" item="v" method="post">
								<tr class="order-info-detailed">
									<td>
										<img class="fl" src="{$v.img_url}" alt="">
										<div class="fl">
											<p>{$v.foodname}</p>
											<p>{$v.message}</p>
										</div>		
									</td>
									<td class="text-black">
									<?php
										switch($v['status'])
										{
											case 1:echo "待付款";break;
											case 2:echo "待确认";break;
											case 3:echo "配送中";break;
											case 4:echo "待评价";break;
											case 5:echo "已完成";break;
											default:echo ""; 
										}
									?>
									</td>
									<td class="text-black">
										{$v.order_count}
									</td >
									<td>￥{$v.discountPrice}</td>		
								</tr>
							</foreach>
							<!-- 	<tr>
										<td colspan="3">
										</td>
										<td colspan="1">
											<a href="{:U('Person/orderManage',array('campusId'=>$campusId,'status'=>0))}">订单详情</a>
										</td>
								</tr>		 -->
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<include file='App/Home/View/Common/commontail.html'/>
		<include file='App/Home/View/Common/commonlocation.html'/>
		
		<script type="text/javascript" src="__PUBLIC__/script/plugins/jquery-1.11.2.js"></script>
		<script type="text/javascript" src="__PUBLIC__/script/plugins/jquery.cookie.js"></script>
		<script type="text/javascript">
             var $campusId=$("#index-header").attr("data-campusId");
		</script>
		<script type="text/javascript" src="__PUBLIC__/script/common.js"></script>

	</body>
</html>
